<?xml version="1.0"?>
<!--##############################-->
<!--Tests a simple resource limit -->
<!--##############################-->
<rcubic>
	<config>
	</config>
	<release version="mc0.2.7">
		<install group="release" version="mc0.2.7_rc1"/>
		<install group="smpres" version="mc0.2.7_rc1"/>
	</release>
	<notification>
		<product name="smpres" email="user@example.com"/>
		<product name="release" email="user@example.com"/>
	</notification>
</rcubic>
