<?xml version="1.0"?>
<!--################################################-->
<!--Tests many parallel (but dumb) jobs in RCubic.py-->
<!--################################################-->
<wgr>
	<config>
	</config>
	<release version="mc0.2.7">
		<install group="release" version="mc0.2.7_rc1"/>
		<install group="progress" version="mc0.2.7_rc1"/>
	</release>
	<notification>
		<product name="progress" email="user@example.com"/>
		<product name="release" email="user@example.com"/>
	</notification>
</wgr>
